<script setup lang="ts">
import { reactive, computed } from "vue";
const state = reactive({
  num1: "0",
  num2: "0",
  result: 0,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
const doAdd = function () {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>

<template>
  <div>
    <div class="card">
      <div>
        <input
          type="text"
          ref="num1"
          v-model="state.num1"
          class="center_Text"
        />
      </div>
      <div class="center_Text bold_text">+</div>
      <div>
        <input
          type="text"
          ref="num2"
          v-model="state.num2"
          class="center_Text"
        />
      </div>
      <div><button class="center_Text w100px" @click="doAdd()">=</button></div>
      <div ref="result" class="center_Text">{{ state.result }}</div>
      <div class="center_Text">
        {{ state.num1 }} + {{ state.num2 }} = {{ state.result }}
      </div>
    </div>
  </div>
</template>

<style>
.center_Text {
  text-align: center;
  font-size: 20pt;
  margin: 5px;
}

.bold_text {
  font-weight: bold;
}

.card {
  padding: 10px;
  border-style: solid;
  width: 400px;
  text-align: center;
}

.w100px {
  width: 100px;
}
</style>
