<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalComponent from "./components/CalComponent.vue";
import HelloWorld from "./components/HelloWorld.vue";
import HelloWorld_EXP from "./components/HelloWorld_EXP.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndLoopsVue from "./components/ConditionAndLoops.vue";
import FormBindingVue from "./components/FormBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br /><br />
    <FormBindingVue />
    <br /><br />
    <ConditionAndLoopsVue />
    <br /><br />
    <AttributeBindings />
    <HandlingUserInput />
    <CalComponent />
    <HelloWorld_EXP />
  </div>
</template>

<style scoped></style>
